{% load static %}
{% block footer %}
<footer class="main-footer">
    <div class="main-footer__bg" style="background-image:url({% static 'assets/images/shapes/footer-bg-1-1.png' %})"></div>
    <div class="main-footer__top">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                    <div class="footer-widget footer-widget--about"><a href="index.html" class="footer-widget__logo"><img src="{% static 'assets/images/logo-light.png' %}" width="170" alt="Green Plastwood"></a>
                        <p class="footer-widget__about-text text-white">Ragwud is a leading manufacturer of premium Wood Plastic Composite (WPC) products, committed to delivering innovative, sustainable, and high-quality solutions that combine durability, style, and long-lasting performance.</p>
                        <form action="https://sngecoindia.com/form.php" method="post" class="footer-widget__newsletter">
                            
                            <input type="text" name="email" placeholder="enter email">
                            <div class="g-recaptcha"
         data-sitekey="6Lc3KgwsAAAAALWcwgchbAm_Ab5pg-BJ1HtRSzrL">
    </div>
                            <button type="submit" name="newsletter" class="icon-right-arrow"><span class="sr-only">submit</span></button>
                        </form>
                        <div class="mc-form__response"></div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
                    <div class="footer-widget footer-widget--links footer-widget--links-one">
                        <div class="footer-widget__top">
                            <div class="footer-widget__title-box"></div>
                            <h2 class="footer-widget__title">Quick Links</h2>
                        </div>
                        <ul class="list-unstyled footer-widget__links">
                            <li><a href="{% url 'home' %}" class="text-white">Home</a></li>
                            <li><a href="{% url 'about' %}" class="text-white">About Us</a></li>
                            <li><a href="{% url 'products' %}" class="text-white">Products</a></li>
                            <li><a href="{% url 'gallery' %}" class="text-white">Gallery</a></li>
                            <li><a href="#" class="text-white">Brochure</a></li>
                            <li><a href="{% url 'contact' %}" class="text-white">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-5 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="600ms">
                    <div class="footer-widget footer-widget--contact">
                        <div class="footer-widget__top">
                            <div class="footer-widget__title-box"></div>
                            <h2 class="footer-widget__title">Get in Touch</h2>
                        </div>
                        <ul class="list-unstyled footer-widget__info">
                            <li><a href="https://maps.app.goo.gl/LV4oQBcUmmi4Rs91A" class="text-white">Maruti Udyog Factory, Senmela, Lokhra Chariali, Guwahati - 781040</a>
                            </li>
                            <li><span class="icon-paper-plane"></span><a href="mailto:contactmarutiudyog@gmail.com" class="text-white"><span class="__cf_email__">contactmarutiudyog@gmail.com</span></a></li>
                            <li><span class="icon-phone-call"></span><a href="tel:+919508442430" class="text-white">+91 9508442430</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="400ms">
                    <div class="footer-widget footer-widget--links footer-widget--links-two">
                        <div class="footer-widget__top">
                            <div class="footer-widget__title-box"></div>
                            <h2 class="footer-widget__title">Find Us</h2>
                        </div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3764.459670221326!2d91.74677659999999!3d26.114119300000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x375a5d000d8f95ed%3A0x8dca048d45e2a78a!2sMARUTI%20UDYOG%20FACTORY!5e1!3m2!1sen!2sin!4v1783864511216!5m2!1sen!2sin" width="100%"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-footer__bottom">
        <div class="container">
            <div class="main-footer__bottom__inner">
                <div class="row gutter-y-30 align-items-center">
                    <div class="col-12 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
                        <div class="main-footer__bottom__copyright text-center">
                            <p class="main-footer__copyright text-white">&copy; Copyright <script>document.write(new Date().getFullYear())</script> All Rights
                                Reserved By RAGwud</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer> 
{% endblock footer %}