{% extends "partials/base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
<section class="page-header">
    <div class="page-header__bg" style="background-image: url('{% static 'assets/images/backgrounds/page-header-bg-1-1.png' %}');"></div><!-- /.page-header__bg -->
    <div class="container">
        <h2 class="about.php">About us</h2>
        <ul class="floens-breadcrumb list-unstyled">
            <li><i class="icon-home"></i> <a href="">Home</a></li>
            <li><span>About us</span></li>
        </ul><!-- /.thm-breadcrumb list-unstyled -->
    </div><!-- /.container -->
</section><!-- /.page-header -->

<section class="about-one section-space" id="about">
    <div class="container">
        <div class="row gutter-y-60">
            <div class="col-lg-6 wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="00ms">
                <img src="{% static 'media/about/frame.png'%}" alt="">
                <!-- <div class="about-one__image-grid">
                    <div class="about-one__image">
                        <img src="assets/images/about/about-1-3.png" alt="about" class="about-one__image__one">
                        <img src="assets/images/about/about-1-2.jpg" alt="about" class="about-one__image__two">
                    </div>
                    <div class="about-one__image">
                        <img src="assets/images/about/about-1-1.jpg" alt="about" class="about-one__image__three">
                    </div>
                    <div class="about-one__circle-text">
                        <div class="about-one__circle-text__bg" style="background-image: url('assets/images/resources/about-award-bg.jpg');"></div>
                        <img src="assets/images/resources/about-award-symbol.png" alt="award-symbole" class="about-one__circle-text__image">
                        <div class="about-one__curved-circle curved-circle">
                            
                            <div class="about-one__curved-circle__item curved-circle__item" data-circle-text-options='{
                 "radius": 84,
                 "forceWidth": true,
                 "forceHeight": true}'>
                                award winning flooring company
                            </div>
                        </div>
                    </div>
                </div> -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="about-one__content">
                    <div class="sec-title sec-title--border">

                        <h6 class="sec-title__tagline">about Us</h6><!-- /.sec-title__tagline -->

                        <h3 class="sec-title__title">Green<br>Plastwood</h3><!-- /.sec-title__title -->
                    </div><!-- /.sec-title -->


                    <div class="about-one__content__text wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                        <h5 class="about-one__text-title">Welcome To Our Company</h5>
                        <!-- /.about-one__text-title -->
                        <p>Established in excellence for 12+ years, SNG ECO INDIA PVT. LTD. is a leading manufacturer and exporter of premium WPC door frames and a complete range of WPC interior &amp; exterior products.We proudly produce <strong>800,000+ kg per month</strong>, deliver over <strong>200 tons monthly</strong>, and export to <strong>4+ countries</strong>, backed by a strong network of <strong>420+ dealers</strong> acros india.</p>                            </div><!-- /.about-one__content__text -->
                    <!-- /.col-xl-6 -->
                    <!-- /.col-xl-6 -->
                </div><!-- /.row -->
                <!-- /.about-one__button -->
            </div><!-- /.about-one__content -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
</div><!-- /.container -->
<div class="about-one__shapes">
<img src="{% static 'assets/images/shapes/about-shape-1-1.jpg' %}" alt="about-shape" class="about-one__shape about-one__shape--one">
<img src="{% static 'assets/images/shapes/about-shape-1-1.jpg' %}" alt="about-shape" class="about-one__shape about-one__shape--two">
</div><!-- /.about-one__shapes -->
</section><!-- /.about-one section-space -->
<section class="about-one section-space" id="about">
    <div class="container">
        <div class="offer-one__top">
            <div class="row gutter-y-40 align-items-center">
                <div class="col-lg-8">
                    <div class="sec-title @@extraClassName">
                        <h6 class="sec-title__tagline">we features</h6>
                        <h3 class="sec-title__title">Our Mission And Vision </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gutter-y-60 text-center" style="background-color: #e3e3e3;">

            <div class="col-lg-6">
                <div class="about-one__content block-box">
                    <div class="about-one__content__text wow fadeInUp " data-wow-duration="1500ms"
                        data-wow-delay="00ms">
                        <h5 class="about-one__text-title">Our Mission</h5>
                        <p class="about-one__text">

                            - Manufacturing premium-quality WPC products that combine strength, elegance, and durability.<br />
                            - Providing value-driven solutions to retailers, builders, and homeowners through innovation and reliability.<br />
                            - Promoting eco-friendly alternatives to traditional wood, helping preserve nature for future generations.<br />
                            - Building strong and lasting relationships with our partners through transparency, trust, and service excellence.

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-one__content block-box">
                    <div class="about-one__content__text wow fadeInUp" data-wow-duration="1500ms"
                        data-wow-delay="00ms">
                        <h5 class="about-one__text-title">Our Vision</h5>
                        <p class="about-one__text"> 
                            To become the most trusted and innovative WPC doors and frames manufacturer in Northeast, delivering sustainable, stylish, and long-lasting solutions that redefine modern living while contributing to a greener future. 
                            <br /><br /><br /><br /><br />
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- /.work-process section-space-two -->



<section class="testimonials-one section-space" style="background-image:url({% static 'assets/images/backgrounds/blog-bg-1.jpg' %})">
<div class="container">
    <div class="row">
        <div class="testimonials-one__image-col col-lg-6 wow fadeInLeft" data-wow-duration="1500ms">
            <div class="testimonials-one__image"><img src="{% static 'assets/images/testimonials/testimonials-image-1-1.jpg' %}" alt="testimonials"></div>
        </div>
        <div class="col-lg-6">
            <div class="sec-title @@extraClassName">
                <h6 class="sec-title__tagline">testimoial</h6>
                <h3 class="sec-title__title">What People Say<br>About Us</h3>
            </div>
        </div>
        <div class="testimonials-one__testimonials-col col-xl-9">
            <div class="testimonials-one__carousel floens-owl__carousel floens-owl__carousel--basic-nav owl-carousel owl-theme" data-owl-options='{
                "items": 1,
                "margin": 0,
                "loop": true,
                "smartSpeed": 700,
                "nav": false,
                "navText": ["<span class=\"icon-slide-left-arrow\"></span>","<span class=\"icon-slide-right-arrow\"></span>"],
                "dots": false,
                "autoplay": 600,
                "responsive":{
                    "0":{
                        "items": 1,
                        "margin": 15
                    },
                    "576":{
                        "items": 1,
                        "margin": 30
                    },
                    "768":{
                        "items": 1,
                        "margin": 30
                    },
                    "992":{
                        "items": 1,
                        "margin": 30
                    },
                    "1200":{
                        "items": 1,
                        "margin": 30
                    }
                }
            }'>
            <div class="item">
                <div class="testimonials-card testimonials-card--two">
                    <div class="testimonials-card__bg" style="background-image:url({% static 'assets/images/testimonials/testimonials-card-bg.png' %})">
                    </div>
                    <div class="testimonials-card__top"><svg class="testimonials-card__quotes__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 87 64" fill="none">
                            <path d="M0 40.1428H17.5714L5.85705 63.5713H23.4285L35.1428 40.1428V5H0V40.1428Z" fill="white" />
                            <path d="M46.8572 5V40.1428H64.4286L52.7142 63.5713H70.2856L82 40.1428V5H46.8572Z" fill="white" />
                            <path d="M22.5714 34.6428H5.5V0.5H39.6428V35.0248L28.1194 58.0713H11.6661L23.0186 35.3664L23.3804 34.6428H22.5714Z" stroke="#C7844F" />
                            <path d="M69.4286 34.6428H52.3572V0.5H86.5V35.0248L74.9766 58.0713H58.5232L69.8758 35.3664L70.2376 34.6428H69.4286Z" stroke="#C7844F" />
                        </svg>
                        <div class="floens-ratings @@extraClassName"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span></div>
                    </div>
                    <div class="testimonials-card__content">
                        <div class="testimonials-card__content__inner">
                            <p class="testimonials-card__text">"I wanted to create a stylish and comfortable outdoor living area, and choosing a WPC Door from Ragwud was the perfect decision. The premium finish and exceptional durability have completely transformed my garden into an inviting retreat. The installation process was smooth, and the team was professional, attentive, and committed to delivering outstanding results. I highly recommend Ragwud for their quality products and excellent service."</p>
                        </div>
                        <div class="testimonials-card__person">
                            <div class="testimonials-card__person__inner">
                                <!-- <img src="assets/images/testimonials/testimonials-1-1.jpg" alt="Michael G. Ware" class="testimonials-card__person__image"> -->
                                <div class="testimonials-card__person__info">
                                    <h3 class="testimonials-card__person__name">Mr. Rajesh Kumar</h3>
                                    <!-- <span class="testimonials-card__person__designation">Mumbai</span> -->
                                </div>
                            </div>
                            <!-- <a href="https://www.youtube.com/watch?v=h9MbznbxlLpopup"><span class="icon-play"></span><i class="video-button__ric" class="testimonials-card__video video-button video-pple"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
                            
                                        <div class="item">
                <div class="testimonials-card testimonials-card--two">
                    <div class="testimonials-card__bg" style="background-image:url({% static 'assets/images/testimonials/testimonials-card-bg.png' %})">
                    </div>
                    <div class="testimonials-card__top"><svg class="testimonials-card__quotes__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 87 64" fill="none">
                            <path d="M0 40.1428H17.5714L5.85705 63.5713H23.4285L35.1428 40.1428V5H0V40.1428Z" fill="white" />
                            <path d="M46.8572 5V40.1428H64.4286L52.7142 63.5713H70.2856L82 40.1428V5H46.8572Z" fill="white" />
                            <path d="M22.5714 34.6428H5.5V0.5H39.6428V35.0248L28.1194 58.0713H11.6661L23.0186 35.3664L23.3804 34.6428H22.5714Z" stroke="#C7844F" />
                            <path d="M69.4286 34.6428H52.3572V0.5H86.5V35.0248L74.9766 58.0713H58.5232L69.8758 35.3664L70.2376 34.6428H69.4286Z" stroke="#C7844F" />
                        </svg>
                        <div class="floens-ratings @@extraClassName"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span></div>
                    </div>
                    <div class="testimonials-card__content">
                        <div class="testimonials-card__content__inner">
                            <p class="testimonials-card__text">"Installing Doors from Ragwud was one of the best decisions for my home. The craftsmanship, durability, and elegant finish have significantly improved the overall appearance while ensuring excellent airflow. The installation team was punctual, skilled, and highly professional throughout the process. I am extremely satisfied with the results and would gladly recommend Ragwud to anyone looking for premium-quality products."</p>
                        </div>
                        <div class="testimonials-card__person">
                            <div class="testimonials-card__person__inner">
                                <!-- <img src="assets/images/testimonials/testimonials-1-1.jpg" alt="Michael G. Ware" class="testimonials-card__person__image"> -->
                                <div class="testimonials-card__person__info">
                                    <h3 class="testimonials-card__person__name">Mrs. Priya Roy</h3>
                                    <!-- <span class="testimonials-card__person__designation">Mumbai</span> -->
                                </div>
                            </div>
                            <!-- <a href="https://www.youtube.com/watch?v=h9MbznbxlLpopup"><span class="icon-play"></span><i class="video-button__ric" class="testimonials-card__video video-button video-pple"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}